@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: hsl(218, 23%, 16%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.container {
    max-width: 33.75rem;
    // min-height: 20.8125rem;
    background-color: hsl(217, 19%, 24%);
    border-radius: 17.5px;
    padding: 3.25rem 3rem 4.875rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    h1 {
        color: hsl(150, 100%, 66%);
        text-transform: uppercase;
        font-size: .75rem;
        letter-spacing: .2rem;
    }

    p {
        color: hsl(193, 38%, 86%);
        font-size: 1.75rem;
        text-align: center;
    }
}

.divider {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}

button {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    cursor: pointer;
    background-color: hsl(150, 100%, 66%);
    border: none;
    outline: none;
    border-radius: 50%;
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s all ease-in;

    &:hover {
        box-shadow: 0px 0px 30px 2px hsla(150, 100%, 66%, .75);
    }
}

@media screen and (max-width: 750px) {
    .container {
        padding: 3.25rem 5% 4.875rem;
    }
}

@media screen and (max-width: 562px) {
    .container {
        margin-top: -7.5rem;

        p {
            font-size: 1.25rem;
        }
    }
    .divider {
        .desktop {
            display: none;
        }
        .mobile {
            display: block;
        }
    }
}